<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр фотографий</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="viewer">
        <div id="image-container">
            <img id="image1" class="image" src="" alt="Изображение">
            <img id="image2" class="image" src="" alt="Изображение">
        </div>
    </div>
    <button id="modeButton">Переключить режим</button>

    <script src="/static/script.js"></script>
</body>
</html>
